@import "../../index.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 30px;
  background-color: $red-color;
  border-radius: 10px;
  padding: 0px 10px;
}

.arrow {
  border: none;
  background-color: #ff6060;
  height: 30px;
  display: flex;
  align-items: center;
}
.title {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.img {
  width: 17px;
}
.description {
  display: none;
}
