.container {
  display: flex;
  justify-content: center;
}

.slideContainer {
  width: 335px;
  height: 255px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.arrowF {
  z-index: 1;
  position: absolute;
  left: 90%;
  cursor: pointer;
}

.arrowB {
  z-index: 1;
  position: absolute;
  left: 3%;
  cursor: pointer;
}

.pageNum {
  display: none;
}

@media (min-width: 481px) {
  .slideContainer {
    width: 1240px;
    height: 415px;
  }
  .arrowF {
    left: 95%;
  }

  .pageNum {
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}
