.title {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropDownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
  height: 207px;
  width: 90%;
}
