.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
.accordeonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px;
  width: 90%;
}

@media (min-width: 481px) {
  .accordeonContainer {
    width: 80%;
  }
}
