@import "../../index.scss";

.accordeonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 2;
}

.host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 481px) {
  .infoContainer {
    margin-top: 30px;
  }

  .host {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 15px;
  }

  .accordeonContainer {
    flex-direction: row;
    align-items: flex-start;
  }
  .subcontainer {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  .locationInfo {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
