.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bannerHome img {
  filter: brightness(0.3);
}

@media (min-width: 481px) {
  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    row-gap: 40px;
    margin-top: 60px;
  }
}
