@import "../../index.scss";

.container {
  display: flex;
  align-items: center;
  width: 135px;
  gap: 10px;
}

.name {
  width: 40%;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: $red-color;
}

.img {
  border-radius: 50%;
  width: 40%;
}
