.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.navLinkContainer {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.active {
  text-decoration: underline;
  color: black;
}

.inactive {
  text-decoration: none;
  color: black;
}

@media (min-width: 481px) {
  .container {
    margin: 3rem;
  }

  .navLinkContainer {
    font-size: 24px;
  }
}
