@import "../../index.scss";

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  flex-grow: 1;
}

.navLinkContainer {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.active {
  text-decoration: underline;
  color: black;
}

.inactive {
  text-decoration: none;
  color: black;
}

.logo path {
  fill: $red-color;
}

@media (min-width: 481px) {
  .container {
    margin: 50px 0px;
  }

  .navLinkContainer {
    font-size: 24px;
  }

  .logo {
    width: 210px;
    height: 68px;
  }
}

@media (min-width: 1500px) {
  .container {
    justify-content: space-between;
  }
}
