@use "./_reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$red-color: #ff6060;

#root {
  font-family: "Montserrat", serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

body {
  overflow: auto;
}
