.imgContainer {
  display: flex;
  justify-content: center;
  border-radius: 5%;
  position: relative;
}
.img {
  width: 90vw;
  object-fit: cover;
  border-radius: 10px;
  height: 111px;
}

.title {
  color: white;
  position: absolute;
  top: 40px;
  left: 20px;
  width: 64%;
  font-size: 24px;
}

@media (min-width: 481px) {
  .imgContainer {
    width: 100%;
  }
  .img {
    height: 223px;
  }
  .title {
    color: white;
    position: absolute;
    top: 37%;
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000, -1px 1px 2px #000, -1px -1px 0 #000,
      1px -1px 0 #000;
  }
}
